{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %}<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">{% endcomment %}
    <title>{% block title %} Simulation interface.{% endblock %}</title>
    {% load static %}

    <!-- CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">INF2 TP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/profile/">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sim_list/">Simulations</a>
                </li>
                <li class="nav-item">
                    <a class=" nav-link" href="/newsimu/">New Simulation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add_profile/">Ajouter un utilisateur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/modif_password/">Modifier un mdp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/delete_account/">Supprimer un utilisateur</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<section id="content" class="container-fluid">
    {% block content %}{% endblock %}
</section>
<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <div class="two-thirds column">{% block infos %} {% now "H:i d/m/Y" %} {% endblock %} </div>
      <div class="one-third column">INF2 TP</div>
    </div>
  </footer>
</body>
</html>