{% extends "base.html" %}
{% block content %}
<div class="card" style="width: 24rem;">
    <div class="card-body">
        <h3 class="card-title">Modify password</h3>   
        <form class="form-group" action="{% url 'add_user' %}" method="post">
        <form action="{% url 'modif_mdp' %}" method="post" class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Modify</button>
        </form>
        {% if envoi %}Your personal information have been updated.
        {% endif %}
    </div>
</div>
{% endblock %}