{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Simulations :</h2>
<script type="text/javascript">
    $(document).on('click', '.confirm-delete', function(){
        ;
    })
</script>
<ul>
{% for sim in user_sims %}
        <li style="list-style-type: none;">
            {% if sim.is_favorite == True %}
            ★
            {% else %}
            ☆
            {% endif%}

            {% if sim.is_shared == True %}
            ➦
            {% endif%}

            User:{{sim.user}}, Parameters:[{{sim.alpha}},{{sim.beta}},{{sim.gamma}},{{sim.delta}},{{sim.epsilon}}]
            <a href="{% url 'run_sim' sim.id %}">Re-run</a>
            <a href="{% url 'delete_sim' sim.id %}">Delete</a>
            <a href="{% url 'mark_favorite_sim' sim.id %}">Favorite</a>

        </li>
{% endfor %}
</ul>
{% endblock %}
