{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="card" style="width: 64rem;">
    <div class="card-body">
        <h3 class="card-title">Simulations:</h3>   
        <script type="text/javascript">
            $(document).on('click', '.confirm-delete', function(){
                ;
            })
        </script>
        <ul>
        {% for sim in user_sims %}
                <li style="list-style-type: none;">
                    <div class="row">
                        <h5 class="col-lg">
                            {% if sim.is_favorite == True %}
                            ★
                            {% else %}
                            ☆
                            {% endif%}
    
                            User:{{sim.user}}, Parameters:[{{sim.alpha}},{{sim.beta}},{{sim.gamma}},{{sim.delta}},{{sim.epsilon}}],  
                        </h5>
                        <div class="col-sm">
                            <a href="{% url 'run_sim' sim.id %}" class="btn btn-primary">Re-run</a>
                            <a href="{% url 'mark_favorite_sim' sim.id %}" class="btn btn-warning">Favorite</a>
                            <a href="{% url 'delete_sim' sim.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
